/* src/components/DesktopScene.module.css */
.desktop {
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#000 0% 25%, #fff 0% 50%) 0 0 / 2px 2px;
  padding-top: var(--menu-bar-height);
}

.inactive {
  pointer-events: none;
}


